<% @tweets.each do |e| %>
<p>
    MESSAGE： <%= e.message %>
    <%= link_to "削除", tweet_path(e), data: { "turbo-method": :delete } %>
</p>
<% end %>

<hr>

<%= form_for @tweet, url: {action: :create} do |f| %>
    <%= f.label :message, 'MESSAGE' %>
    <%= f.text_field :message %>
    <%= f.submit 'ツイートする' %>
<% end %>

<hr>

<% if session[:login_uid] %>
<p>
    <%= link_to 'ログアウト', top_logout_path %>
</p>

<% else %>
<p>
    <%= link_to 'ログイン', top_main_path %>
</p>
<% end %>

<p>
    <%= link_to 'ユーザー一覧', users_path %>
</p>