<% @tweets.each do |e| %>
<p>
    MESSAGEï¼š <%= e.message %>
    <%= link_to "å‰Šé™¤", tweet_path(e), data: { "turbo-method": :delete } %>
    <% if e.liked?(current_user) %>
        <%= link_to 'ã„ã„ã­å‰Šé™¤ðŸ’”', like_path(e), data: { "turbo-method": :delete } %><br>
    <% else %>
        <%= link_to 'ã„ã„ã­ðŸ’›', likes_path(tweet_id: e.id), data: { "turbo-method": :post } %>
    <% end %>
</p>
<% end %>

<hr>

<h3><font color= "#ff1493">æŠ•ç¨¿</font></h3>
<%= form_for @tweet, url: {action: :create} do |f| %>
    <%= f.label :message, 'MESSAGE' %>
    <%= f.text_field :message %>
    <%= f.submit 'ãƒ„ã‚¤ãƒ¼ãƒˆã™ã‚‹' %>
<% end %>

<hr>

<% if current_user %>
<p>
    <%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', top_logout_path %>
</p>

<% else %>
<p>
    <%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', top_main_path %>
</p>
<% end %>

<p>
    <%= link_to 'ãƒ¦ãƒ¼ã‚¶ãƒ¼ä¸€è¦§', users_path %>
</p>