<% @tweets.each do |e| %>
<p>
    MESSAGE： <%= e.message %>
    <%= link_to "削除", tweet_path(e), data: { "turbo-method": :delete } %>
    <%= link_to 'いいね', likes_path(tweet_id: e.id), data: { "turbo-method": :post } %>
    <%= link_to 'いいね削除', like_path(e), data: { "turbo-method": :delete } %>
</p>
<% end %>

<hr>

<h3><font color= "#ff1493">投稿</font></h3>
<%= form_for @tweet, url: {action: :create} do |f| %>
    <%= f.label :message, 'MESSAGE' %>
    <%= f.text_field :message %>
    <%= f.submit 'ツイートする' %>
<% end %>

<hr>

<% if current_user %>
<p>
    <%= link_to 'ログアウト', top_logout_path %>
</p>

<% else %>
<p>
    <%= link_to 'ログイン', top_main_path %>
</p>
<% end %>

<p>
    <%= link_to 'ユーザー一覧', users_path %>
</p>